<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CALCULATOR</title>
</head>

<body bgcolor="yellow">
    
    <form method="post">
        {% csrf_token %}
    <h1 align="center">** Welcome to my calculator program**</h1>
    <table align="center" bgcolor="pink" border="3">
        <tr>
            <td>Enter the First number</td>
            <td><input type="text" name="t1" value="{{a}}"></td>
        </tr>
        <tr>
            <td>Enter the Second number</td>
            <td><input type="text" name="t2" value="{{b}}"></td>
        </tr>
        <tr>
            <td>Result</td>
            <td><input type="text" name="t3" value="{{c}}"></td>
        </tr>
        <tr>
            <td><button>SUM</button></td>
            <td><button>SUB</button></td>
            <td><button>MUL</button></td>
            <td><button>DIV</button></td>
        </tr>
</table>
</form>>
</body>
</html>