<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIMPLE CALCULATOR</title>
</head>
<body bg="info">
    <h1 class="text-center">**Welcome in my calculator**</h1>
    <table class="table table-bordered">
        <tbody>
          <tr>
            <td colspan="4"><input type="text" name='res' value="{{msg}}"></td>
          </tr>
          <tr>
            <th>
              <button class="btn btn-primary" name="btn1">1</button>
              <button class="btn btn-info" name="btn2">2</button>
              <button class="btn btn-warning" name="btn3">3</button>
              <button class="btn btn-danger" name="btn+">+</button>
            </th>
          </tr>
          <tr>
            <th>
              <button class="btn btn-primary" name="btn5">5</button>
              <button class="btn btn-info" name="btn6">6</button>
              <button class="btn btn-warning" name="btn7">7</button>
              <button class="btn btn-danger" name="btn-">-</button>
            </th>
          </tr>
          <tr>
            <th>
              <button class="btn btn-primary" name="btn8">8</button>
              <button class="btn btn-info" name="btn9">9</button>
              <button class="btn btn-warning" name="btn0">0</button>
              <button class="btn btn-danger" name="btn*">*</button>
            </th>
          </tr>
          <tr>
            <th>
              <button class="btn btn-primary" name="btn.">.</button>
              <button class="btn btn-info" name="btn=">=</button>
              <button class="btn btn-warning" name="btn/">/</button>
              <button class="btn btn-danger" name="btnC">C</button>
            </th>
          </tr>
      
        </tbody>
    </table>
</body>
</html>